
.vs/Dota2 ImGui DX11/v16/Browse.VC.db
.vs/Dota2 ImGui DX11/v16/Browse.VC.db-shm
.vs/Dota2 ImGui DX11/v16/Browse.VC.db-wal
.vs/Dota2 ImGui DX11/v16/Browse.VC.opendb
.vs/Dota2 ImGui DX11/v16/ipch/AutoPCH/dad4ca3f58d0e1b/MAIN.ipch
.vs/Dota2 ImGui DX11/v16/.suo
.vs/Dota2 ImGui DX11/v16/ipch/AutoPCH/a8763a2f8ca56c89/MAIN.ipch
Dota2 ImGui DX11/x64/Debug/buffer.obj
Dota2 ImGui DX11/x64/Debug/Dota2 ImGui Menu.tlog/CL.command.1.tlog
Dota2 ImGui DX11/x64/Debug/Dota2 ImGui Menu.tlog/CL.read.1.tlog
Dota2 ImGui DX11/x64/Debug/Dota2 ImGui Menu.tlog/CL.write.1.tlog
Dota2 ImGui DX11/x64/Debug/Dota2 ImGui Menu.tlog/Dota2 ImGui Menu.lastbuildstate
Dota2 ImGui DX11/x64/Debug/Dota2 ImGui Menu.tlog/link.command.1.tlog
Dota2 ImGui DX11/x64/Debug/Dota2 ImGui Menu.tlog/link.read.1.tlog
Dota2 ImGui DX11/x64/Debug/Dota2 ImGui Menu.tlog/link.write.1.tlog
Dota2 ImGui DX11/x64/Debug/Dota2 ImGui Menu.tlog/rc.command.1.tlog
Dota2 ImGui DX11/x64/Debug/Dota2 ImGui Menu.tlog/rc.read.1.tlog
Dota2 ImGui DX11/x64/Debug/Dota2 ImGui Menu.tlog/rc.write.1.tlog
Dota2 ImGui DX11/x64/Debug/hde32.obj
Dota2 ImGui DX11/x64/Debug/hde64.obj
Dota2 ImGui DX11/x64/Debug/hook.obj
Dota2 ImGui DX11/x64/Debug/ImGui DirectX 11 Kiero Hook.log
Dota2 ImGui DX11/x64/Debug/imgui.obj
Dota2 ImGui DX11/x64/Debug/imgui_demo.obj
Dota2 ImGui DX11/x64/Debug/imgui_draw.obj
Dota2 ImGui DX11/x64/Debug/imgui_impl_dx11.obj
Dota2 ImGui DX11/x64/Debug/imgui_impl_win32.obj
Dota2 ImGui DX11/x64/Debug/imgui_widgets.obj
Dota2 ImGui DX11/x64/Debug/kiero.obj
Dota2 ImGui DX11/x64/Debug/main.obj
Dota2 ImGui DX11/x64/Debug/MemIn.obj
Dota2 ImGui DX11/x64/Debug/MinHook.res
Dota2 ImGui DX11/x64/Debug/trampoline.obj
Dota2 ImGui DX11/x64/Debug/vc142.idb
Dota2 ImGui DX11/x64/Debug/vc142.pdb
Dota2 ImGui DX11/x64/Release/buffer.obj
Dota2 ImGui DX11/x64/Release/Dota2 ImGui Menu.tlog/CL.command.1.tlog
Dota2 ImGui DX11/x64/Release/Dota2 ImGui Menu.tlog/CL.read.1.tlog
Dota2 ImGui DX11/x64/Release/Dota2 ImGui Menu.tlog/CL.write.1.tlog
Dota2 ImGui DX11/x64/Release/Dota2 ImGui Menu.tlog/Dota2 ImGui Menu.lastbuildstate
Dota2 ImGui DX11/x64/Release/Dota2 ImGui Menu.tlog/Dota2 ImGui Menu.write.1u.tlog
Dota2 ImGui DX11/x64/Release/Dota2 ImGui Menu.tlog/link.command.1.tlog
Dota2 ImGui DX11/x64/Release/Dota2 ImGui Menu.tlog/link.read.1.tlog
Dota2 ImGui DX11/x64/Release/Dota2 ImGui Menu.tlog/link.write.1.tlog
Dota2 ImGui DX11/x64/Release/Dota2 ImGui Menu.tlog/rc.command.1.tlog
Dota2 ImGui DX11/x64/Release/Dota2 ImGui Menu.tlog/rc.read.1.tlog
Dota2 ImGui DX11/x64/Release/Dota2 ImGui Menu.tlog/rc.write.1.tlog
Dota2 ImGui DX11/x64/Release/hde32.obj
Dota2 ImGui DX11/x64/Release/hde64.obj
Dota2 ImGui DX11/x64/Release/hook.obj
Dota2 ImGui DX11/x64/Release/ImGui DirectX 11 Kiero Hook.log
Dota2 ImGui DX11/x64/Release/imgui.obj
Dota2 ImGui DX11/x64/Release/imgui_demo.obj
Dota2 ImGui DX11/x64/Release/imgui_draw.obj
Dota2 ImGui DX11/x64/Release/imgui_impl_dx11.obj
Dota2 ImGui DX11/x64/Release/imgui_impl_win32.obj
Dota2 ImGui DX11/x64/Release/imgui_widgets.obj
Dota2 ImGui DX11/x64/Release/kiero.obj
Dota2 ImGui DX11/x64/Release/main.obj
Dota2 ImGui DX11/x64/Release/MemIn.obj
Dota2 ImGui DX11/x64/Release/MinHook.res
Dota2 ImGui DX11/x64/Release/trampoline.obj
Dota2 ImGui DX11/x64/Release/vc142.pdb
x64/Debug/Dota2 ImGui Menu.dll
x64/Debug/Dota2 ImGui Menu.ilk
x64/Debug/Dota2 ImGui Menu.pdb
x64/Release/Dota2 ImGui Menu.dll
x64/Release/Dota2 ImGui Menu.iobj
x64/Release/Dota2 ImGui Menu.ipdb
x64/Release/Dota2 ImGui Menu.pdb
.vs/Dota2 ImGui DX11/v16/ipch/AutoPCH/f8a9ff5b0da1164/MEMIN.ipch
.vs/Dota2 ImGui DX11/v16/ipch/AutoPCH/5758d6917fddcd9b/DRAW.ipch
.vs/Dota2 ImGui DX11/v16/ipch/AutoPCH/fd5d966aa13e77e6/DRAW.ipch
Dota2 ImGui DX11/x64/Release/Draw.obj
Dota2 ImGui DX11/x64/Release/Dota2 ImGui Menu.Build.CppClean.log
Dota2 ImGui DX11/x64/Release/ImGui DirectX 11 Kiero Hook.vcxproj.FileListAbsolute.txt
Dota2 ImGui DX11/x64/Release/Pattern.obj
x64/Release/Dota2 ImGui Menu.dll.vmp
x64/Release/Dota2 ImGui Menu.vmp.dll
x64/Release/gg.xpr64
x64/Release/gg_vmp.xpr64
Dota2 ImGui DX11/Renderer/Helper.h
Dota2 ImGui DX11/x64/Debug/Renderer.obj
Dota2 ImGui DX11/ImGui DirectX 11 Kiero Hook.vcxproj
Dota2 ImGui DX11/comic.ttf.h
.vs/Dota2 ImGui DX11/v16/ipch/AutoPCH/53ab6db4296d2b8d/MAIN.ipch
Dota2 ImGui DX11/x64/Debug/Dota2 ImGui Menu.tlog/unsuccessfulbuild
Dota2 ImGui DX11/x64/Debug/Dota2 ImGui Menu.dll.recipe
.vs/Dota2 ImGui DX11/v16/ipch/AutoPCH/162087684975137f/MAIN.ipch
Dota2 ImGui DX11/x64/Release/Dota2 ImGui Menu.dll.recipe
*.ipch
*.db
*.db-shm
*.db-wal
*.opendb
